.reactable-page-button, .reactable-previous-page, .reactable-next-page {
  margin-left: 5px;
  margin-right: 2px;
  margin-bottom: 6px;
  margin-top: 5px;
  padding: 3px;

  float: left;
  cursor: pointer;
  color: #000;
  border: 1px solid #AAA;
  background-color: #EEE;
  text-align: center;
  border-radius: 5px;
}

.reactable-page-button:hover {
  text-decoration: none;
  color: #333;
  background-color: #DDD;
}

.reactable-previous-page:hover {
  text-decoration: none;
  color: #333;
  background-color: #DDD;
}

.reactable-next-page:hover {
  text-decoration: none;
  color: #333;
  background-color: #DDD;
}

.reactable-current-page {
  background-color: #DDD;
  cursor: default;
}

table {
    border-collapse: collapse;
}

th, td {
    border: 1px solid black;
}

th {
  cursor: pointer;
}

th.reactable-header-sort-desc, #demo-table th.reactable-header-sort-asc {
  background-color: #474747;
}

th.reactable-header-sort-desc:after {
  content: '\25B2';
  font-size: 10px;
  padding-left: 10px;
  padding-bottom: 5px;
}

th.reactable-header-sort-asc:after {
  content: '\25BC';
  font-size: 10px;
  padding-left: 10px;
  padding-bottom: 5px;
}

tr.reactable-filterer {
  width: 100%;
}

tr.reactable-filterer td {
  width: 100%;
}

.reactable-filter-input {
  width: 95%;
  margin-left: 10px;
  margin-top: 7px;
  margin-bottom: 7px;
  margin-right: 20px;
  padding: 5px;
}

td[label="operation"] {
  text-align: center;
}

td[label="operation"] button {
  margin-top: 2px;
  margin-bottom: 2px;
}

.reactable-pagination td {
  border: none;
}